<h2 class="intro__subtitle">Заголовок 2</h2>
<p class="intro__text" id="intro__text">Рыбатекст два практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение модели развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение дальнейших направлений развития. Идейные соображения высшего порядка, а также</p>
<button class="buttonRed" id="buttonRed">Цвет текста: красный</button>
<button class="buttonBlack" id="buttonBlack">Цвет текста: черный</button>
