<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tabs with ajax</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

  <!-- Intro -->
  <section class="intro">
    <div class="container">
      <div id="page">

        <h1>Тестовое задание (вкладки)</h1>

        <ul class="mytabs" id="tabs">
            <li class="current"><a href="./tabs/tab1.html">Таб 1</a></li>
            <li><a href="./tabs/tab2.html">Таб 2</a></li>
            <li><a href="./tabs/tab3.html">Таб 3</a></li>
        </ul>

        <div class="mytabs-container" id="tabs-container">
            Загрузка. Пожалуйста подождите...
        </div>

    </div>
    </div> <!-- /container -->
  </section>

  <!-- JavaScript -->
      <script src="js/app.js"></script>

</body>
</html>
